NODE_ENV=development
API_PORT=4000

DATABASE_URL="postgresql://cts:cts_password@localhost:5432/cts_db?schema=public"

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=change-me-super-secret-key
JWT_EXPIRES_IN=7d

CORS_ORIGINS=http://localhost:3000,http://localhost:3001
